<!DOCTYPE html>
<html>
<head>
  <title>Vespaspiets</title>
  <meta charset="utf-8" />
  <meta name="description" content="18. maijÄ Sezonas Grand Open" />
  <meta name="keywords" content="vespa, vespaspiets, vespu klubs, vespa club, vespu saiets" />
  <link href="stylesheets/app.css" media="screen" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="javascripts/jquery.js"></script>
  <script type="text/javascript" src="javascripts/jquery.scrollto.js"></script>
  <script type="text/javascript" src="javascripts/jquery.tweet.js"></script>
  <script type="text/javascript" src="javascripts/jquery.stellar.js"></script>
  <script type="text/javascript" src="javascripts/app.js?10"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-22319037-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <link rel="alternate" type="application/rss+xml" title="Vespaspiets Feed" href="http://vespaspiets.wordpress.com/feed/" />
</head>
<body>
  <div id="header">
    <div class="container">
      <div id="nav">
        <ul>
          <li class="active">
            <a href="#news">
              <span class="inactive">Jaunumi</span>
              <span class="active">Jaunumi</span>
            </a>
          </li>
          <li>
            <a href="#albums">
              <span class="inactive">Bildes</span>
              <span class="active">Bildes</span>
            </a>
          </li>
          <li>
            <a href="#video">
              <span class="inactive">Video</span>
              <span class="active">Video</span>
            </a>
          </li>
          <li>
            <a href="#about">
              <span class="inactive">VespaSpiets</span>
              <span class="active">VespaSpiets</span>
            </a>
          </li>
        </ul>
        <ul class="social">
          <li>
            <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fvespaspiets.lv%2F&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=dark&amp;font=arial&amp;height=21&amp;appId=348126495249042" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:120px; height:21px;" allowTransparency="true"></iframe>
          </li>
          <li class="social_facebook">
            <a href="http://www.facebook.com/pages/Vespa-spiets/107178829336751" target="_blank">
              <span class="inactive">Facebook</span>
              <span class="active">Facebook</span>
            </a>
          </li>
          <li class="social_draugiem">
            <a href="http://www.draugiem.lv/vespaspiets" target="_blank">
              <span class="inactive">draugiem.lv</span>
              <span class="active">draugiem.lv</span>
            </a>
          </li>
          <li class="social_twitter">
            <a href="https://twitter.com/#!/vespaspiets" target="_blank">
              <span class="inactive">Twitter</span>
              <span class="active">Twitter</span>
            </a>
          </li>
          <li class="social_youtube">
            <a href="http://www.youtube.com/user/Vespaspiets" target="_blank">
              <span class="inactive">YouTube</span>
              <span class="active">YouTube</span>
            </a>
          </li>
          <li class="social_email">
            <a href="mailto:vespaspiets@gmail.com">
              <span class="inactive">E-pasts</span>
              <span class="active">E-pasts</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div id="page_container">
    <%= yield %>
  </div>
</body>
</html>
