@font-face {
  font-family: 'MuseoSans-500';
  src: url('../webfonts/1467DE_0.eot');
  src: url('../webfonts/1467DE_0.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/1467DE_0.woff') format('woff'),
       url('../webfonts/1467DE_0.ttf') format('truetype'),
       url('../webfonts/1467DE_0.svg#wf') format('svg');
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: #F8F8F8;
  line-height: 1.5;
  font-family: "Arial", sans-serif;
  color: #333;
}
img {
  border: none;
}

#nav, h1, h2, h3, .album_title, .video_title, .date {
  font-family: "MuseoSans-500", sans-serif;
  color: #000;
}

a {
  color: #AE1922;
  text-decoration: none;
}

h1 {
  font-weight: normal;
  margin-top: 70px;
  padding: 10px 20px;
  font-size: 40px;
  color: #fff;
  text-shadow: 2px 2px 1px rgba(0,0,0,0.5);
}

.container {
  width: 960px;
  position: relative;
  margin: 0 auto;
}

#header {
  position: fixed;
  z-index: 10;
  height: 40px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  background: #000;
  background: rgba(0,0,0,0.85);
}

.logo {
  width: 194px;
  height: 1130px;
  background: no-repeat 50% 90px fixed;
  position: absolute;
  top: -70px;
  right: 50px;
  text-indent: -9999px;
  z-index: 10;
  display: block;
}
.logo_black { background-image: url(../images/logo_black.png); }
.logo_white { background-image: url(../images/logo_white.png); }

ul.social {
  display: block;
  position: absolute;
  top: 0;
  right: 40px;
}
#header #nav ul.social li {
  padding: 9px;
}
#header #nav ul.social li a {
  height: 24px;
  display: block;
}
#header #nav ul.social li a span.inactive {
  opacity: 0.7;
}
#header #nav ul.social li a span {
  text-indent: -9999px;
  background: no-repeat;
  height: 24px;
  display: block;
}
#header #nav ul.social li.social_youtube  a span { background-image: url(../images/social_youtube.png);  width: 61px; }
#header #nav ul.social li.social_draugiem a span { background-image: url(../images/social_draugiem.png); width: 29px; }
#header #nav ul.social li.social_facebook a span { background-image: url(../images/social_facebook.png); width: 29px; }
#header #nav ul.social li.social_twitter  a span { background-image: url(../images/social_twitter.png);  width: 34px; }
#header #nav ul.social li.social_email    a span { background-image: url(../images/social_email.png);    width: 24px; }

#header #nav ul.social li a:hover span.inactive { top: -24px; }
#header #nav ul.social li a:hover span.active   { top: -24px; }

#header #nav {
  position: absolute;
  left: 0;
  top: 0px;
  width: 960px;
}

#header #nav ul {
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#header #nav ul li {
  margin: 0;
  display: block;
  float: left;
  padding: 10px 20px;
}

#header #nav ul li a {
  display: block;
  float :left;
  text-decoration: none;
  font-size: 14px;
  color: #ccc;
  text-transform: uppercase;
  overflow: hidden;
  height: 20px;
}

#header #nav ul li a span {
  position: relative;
  display: block;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-out;
}

#header #nav ul li a span.inactive { top: 0; color: #aaa; }
#header #nav ul li a span.active   { top: 0; color: #fff; }

#header #nav ul li a:hover span.inactive { top: -21px; }
#header #nav ul li a:hover span.active   { top: -21px; }

#header #nav ul li.active a span.inactive { display: none; }
#header #nav ul li.active a span.active   { top: 0; }

#page_container {
}

.page {
  background-attachment: fixed;
  background-position: center 0;
  background-repeat: no-repeat;
  padding: 0;
  height: 1120px;
  position: relative;
  overflow: hidden;
}

#tweets {
  position: fixed;
  top: 160px;
/*  right: 50px;*/
  width: 250px;
  z-index: 20;
  padding-left: 660px;
}
#tweets:before {
  content: "";
  display: block;
  border: 8px solid;
  border-color: transparent transparent rgba(255,255,255,0.9) transparent;
  width: 0;
  height: 0;
  margin-left: 190px;
}
#tweets ul {
  list-style: none;
  margin: 0;
  padding: 0 0 30px 0;
  background: #fff;
  background: rgba(255,255,255,0.9) url(../images/twitter.png) no-repeat 96% 96%;
  border-radius: 4px;
  margin-bottom: -1px;
  overflow: hidden;
  box-shadow: 0 10px 8px rgba(0,0,0,0.2);
  -moz-box-shadow: none;
}
#tweets li {
  padding: 10px;
  display: block;
  overflow: hidden;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
#tweets .tweet_time {
  display: none;
}
#tweets .tweet_text {
  font-size: 13px;
  display: block;
}

#news_chuvaak {
  background: url(../images/news_chuvaak.png) no-repeat center 420px fixed;
  width: 350px;
  height: 1500px;
  position: absolute;
  right: 0;
  top: 0px;
}

#video_chuvaak {
  background: url(../images/video_chuvaak.png) no-repeat center 150px fixed;
  width: 350px;
  height: 1120px;
  position: absolute;
  right: 0;
  top: -60px;
}

#albums_chuvaak {
  width: 300px;
  height: 1120px;
  position: absolute;
  right: 0;
  top: -60px;
}

#about_chuvaak {
  background: url(../images/about_chuvaak.png) no-repeat center 100% fixed;
  width: 300px;
  height: 1120px;
  position: absolute;
  right: 0;
  top: -60px;
}

#vespa_lxv {
  background: url(../images/vespa_lxv.png) no-repeat center 100px fixed;
  height: 600px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

#flying_vespa {
  z-index: 25;
  position: absolute;
  bottom: -15px;
  width: 100%;
  height: 300px;
  background: url(../images/flying_vespa.png) no-repeat 0 0;
}

#flying_vespa_reverse {
  z-index: 25;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 250px;
  background: url(../images/flying_vespa_reverse.png) no-repeat 0 0;
}

#news {
  background-color: #E72924;
  background-image: url(../images/news_bg.jpg);
  height: 1500px;
}
#news .logo {
  height: 1500px;
}

#albums {
  background-color: #000;
  background-image: url(../images/albums_bg.jpg);
}
#video {
  background-color: #000;
  background-image: url(../images/video_bg.jpg);
}
#about {
  background-color: #000;
  background-image: url(../images/about_bg.jpg);
}

#news_articles_container {
  width: 650px;
  position: relative;
  left: -80px;
  z-index: 30;
}
#news_articles {
/*  overflow-y: scroll;*/
  height: 560px;
  padding-right: 10px;
}
#news_articles .more_more {
  font-size: 62px;
  color: #fff;
  font-family: "Times New Roman", serif;
  margin-left: 100px;
  line-height: 1.0;
}

.article {
  padding: 10px 20px;
  background: #f8f8f8 url(../images/noise.png);
  box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
  -moz-box-shadow: none;
  border-radius: 4px;
  margin: 0px 0 20px 0;
  position: relative;
  display: inline-block;
  width: 510px;
}
.modal .article {
  margin: 0;
  border-radius: 0;
}
.modal .article img {
  margin: 0;
  max-width: 100%;
  height: auto;
}

#news_articles .article {
  margin-left: 80px;
  margin-right: 10px;
}

.article .clear {
  clear: both;
}

.article h3 {
  font-size: 30px;
  font-weight: 300;
  margin: 10px 0;
  line-height: 1.2;
  font-weight: normal;
  letter-spacing: -0.04em;
}
.article h3 a {
  color: #333;
}

.article img {
  margin: 10px 0 10px 10px;
  border-radius: 2px;
}
.article .date {
  color: #777;
  position: absolute;
  left: -80px;
  top: 20px;
  background: #111;
  background: rgba(0,0,0,0.85);
  color: #fff;
  padding: 15px;
  border-radius: 4px 0 0 4px;
  text-align: center;
  line-height: 1.1;
  width: 50px;
}
.article .date .day {
  display: block;
  font-size: 40px;
}
.article .date .month {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
}

.article p {
  font-size: 14px;
}

#albums_container {
  width: 560px;
}
.album {
  display: inline-block;
}
.album a {
  text-decoration: none;
  display: inline-block;
  background: #fff;
  margin: 0 0px 10px 0;
  padding: 10px;
  box-shadow: 2px 2px 8px #000;
}
.album a:hover {
  background: rgba(255,255,255,0.9);
}
.album_title {
  display: block;
  width: 90px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  padding: 10px 0 0 0;
  font-size: 11px;
}
.album:nth-child(1) { -webkit-transform: rotate(-14deg); -moz-transform: rotate(-14deg); }
.album:nth-child(2) { -webkit-transform: rotate(7deg);   -moz-transform: rotate(7deg);   }
.album:nth-child(3) { -webkit-transform: rotate(-4deg);  -moz-transform: rotate(-4deg);  }
.album:nth-child(4) { -webkit-transform: rotate(2deg);   -moz-transform: rotate(2deg);   }
.album:nth-child(5) { -webkit-transform: rotate(-14deg); -moz-transform: rotate(-14deg); }
.album:nth-child(6) { -webkit-transform: rotate(7deg);   -moz-transform: rotate(7deg);   }
.album img {
  display: block;
}

#video_container {
  background: rgba(0,0,0,0.6);
  min-height: 1000px;
  width: 570px;
  overflow: hidden;
  padding: 5px;
}
#video_playing {
  padding: 5px;
}
.video {
  float: left;
  width: 104px;
  color: #fff;
  padding: 5px;
  min-height: 170px;
  cursor: pointer;
}
.video_title {
  display: block;
  font-size: 11px;
  padding: 0px 5px 3px 5px;
  color: #eee;
  text-transform: uppercase;
  background: rgba(0,0,0,0.6);
}
.video:hover img {
  opacity: 0.6;
}
.video:hover .video_title {
  color: #999;
}
.video img {
  display: block;
  
}


/*** MODAL ***/

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  overflow: auto;
}
.modal button.close {
  font-size: 22px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 7px 12px;
}
.modal .modal-body {
  margin: 0 auto;
  width: 960px;
  min-height: 100%;
  padding-left: 15px;
}