html, body {
  margin: 0;
  padding: 0;
}

body {
  background: #F8F8F8;
  line-height: 1.5;
  font-family: "Arial", sans-serif;
  color: #333;
}

#nav, h1, h2, h3 {
  font-family: "Museo Sans", sans-serif;
  color: #000;
}

.container {
  width: 960px;
  position: relative;
  margin: 0 auto;
}

#header {
  position: fixed;
  z-index: 10;
  height: 40px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: rgba(0,0,0,0.85);
}

#header #logo {
  width: 194px;
  height: 79px;
  background: url(../images/logo.png) no-repeat 0 0;
  overflow: hidden;
  position: absolute;
  top: 80px;
  right: 50px;
  text-indent: -9999px;
}

#header #nav {
  position: absolute;
  left: 0;
  top: 0px;
}

#header #nav ul {
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#header #nav ul li {
  margin: 0;
  display: block;
  float :left;
  padding: 10px 20px;
}

#header #nav ul li a {
  display: block;
  float :left;
  text-decoration: none;
  font-size: 14px;
  color: #ccc;
  text-transform: uppercase;
  overflow: hidden;
  height: 20px;
}

#header #nav ul li a span {
  position: relative;
  display: block;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-out;
}

#header #nav ul li a span.inactive { top: 0; color: #aaa; }
#header #nav ul li a span.active   { top: 0; color: #fff; }

#header #nav ul li a:hover span.inactive { top: -21px; }
#header #nav ul li a:hover span.active   { top: -21px; }

#header #nav ul li.active a span.inactive { display: none; }
#header #nav ul li.active a span.active   { top: 0; }

#page_container {
}

.page {
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat;
  padding: 0;
  height: 1120px;
  position: relative;
  overflow: hidden;
}
#news_chuvaak {
  background: url(../images/news_chuvaak.png) no-repeat -60px -400px;
  width: 300px;
  height: 1120px;
  position: absolute;
  right: 0;
  top: 0px;
}

#video_chuvaak {
  background: url(../images/video_chuvaak.png) no-repeat 0 450px;
  width: 350px;
  height: 1120px;
  position: absolute;
  right: 0;
  top: -60px;
}

#albums_chuvaak {
  background: url(../images/albums_chuvaak.png) no-repeat 0px -400px;
  width: 300px;
  height: 1120px;
  position: absolute;
  right: 0;
  top: -60px;
}

#vespa_lxv {
  background: url(../images/vespa_lxv.png) no-repeat 0px 1600px;
  width: 1180px;
  height: 1120px;
  position: absolute;
  right: -150px;
  top: 0;
}

#flying_vespa {
  z-index: 5;
  position: absolute;
  bottom: -15px;
  width: 100%;
  height: 300px;
  background: url(../images/vespa.png) no-repeat 0 0;
}
#news {
  background-image: url(../images/bg.jpg);
}
#albums {
  background-image: url(../images/bg2.jpg);
}
#video {
  background-image: url(../images/video_bg.jpg);
}
#about {
  background-image: url(../images/bg2.jpg);
}

.article {
  width: 560px;
  padding: 10px 20px;
  background: rgba(255,255,255,0.6);
  margin-top: 70px;
  min-height: 1000px;
}

.article h3 {
  font-size: 36px;
  font-weight: 300;
  margin: 10px 0;
  line-height: 1.0;
  font-weight: normal;
  letter-spacing: -0.04em;
}

.article p.date {
  color: #777;
  font-size: 80%;
}

h1 {
  font-weight: normal;
  margin-top: 60px;
  padding: 10px 20px;
  font-size: 40px;
  color: #fff;
  text-shadow: 2px 2px 1px rgba(0,0,0,0.5);
}

.album {
  border: 10px solid #fff;
  background: #fff;
  margin: 0 0px 10px 0;
  display: inline-block;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}
.album h3 {
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  padding: 10px 0 0 0;
  font-size: 12px;
}
.album:nth-child(2) { -webkit-transform: rotate(-14deg); }
.album:nth-child(3) { -webkit-transform: rotate(7deg); }
.album:nth-child(4) { -webkit-transform: rotate(-4deg); }
.album:nth-child(6) { -webkit-transform: rotate(2deg); }
.album:nth-child(7) { -webkit-transform: rotate(-14deg); }
.album:nth-child(8) { -webkit-transform: rotate(7deg); }
.album img {
  display: block;
}

.video_container {
  background: rgba(0,0,0,0.6);
  min-height: 1000px;
  width: 580px;
  overflow: hidden;
}
.video {
  padding: 10px 0 0 10px;
  float: left;
}
.video img {
  display: block;
  
}
