html, body {
  margin: 0;
  padding: 0;
}

body {
  background: #F8F8F8;
  line-height: 1.5;
  font-family: "Arial", sans-serif;
  color: #333;
}

#nav, h1, h2, h3, .album_title, .video_title {
  font-family: "Museo Sans", sans-serif;
  color: #000;
}

h1 {
  font-weight: normal;
  margin-top: 70px;
  padding: 10px 20px;
  font-size: 40px;
  color: #fff;
  text-shadow: 2px 2px 1px rgba(0,0,0,0.5);
}

.container {
  width: 960px;
  position: relative;
  margin: 0 auto;
}

#header {
  position: fixed;
  z-index: 10;
  height: 40px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: rgba(0,0,0,0.85);
}

.logo {
  width: 194px;
  height: 1130px;
  background: no-repeat 50% 90px fixed;
  position: absolute;
  top: -70px;
  right: 50px;
  text-indent: -9999px;
  z-index: 10;
  display: block;
}
.logo_black { background-image: url(../images/logo_black.png); }
.logo_white { background-image: url(../images/logo_white.png); }

#header #nav {
  position: absolute;
  left: 0;
  top: 0px;
}

#header #nav ul {
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#header #nav ul li {
  margin: 0;
  display: block;
  float :left;
  padding: 10px 20px;
}

#header #nav ul li a {
  display: block;
  float :left;
  text-decoration: none;
  font-size: 14px;
  color: #ccc;
  text-transform: uppercase;
  overflow: hidden;
  height: 20px;
}

#header #nav ul li a span {
  position: relative;
  display: block;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-out;
}

#header #nav ul li a span.inactive { top: 0; color: #aaa; }
#header #nav ul li a span.active   { top: 0; color: #fff; }

#header #nav ul li a:hover span.inactive { top: -21px; }
#header #nav ul li a:hover span.active   { top: -21px; }

#header #nav ul li.active a span.inactive { display: none; }
#header #nav ul li.active a span.active   { top: 0; }

#page_container {
}

.page {
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat;
  padding: 0;
  height: 1120px;
  position: relative;
  overflow: hidden;
}
#news h1 {
  color: #000;
  text-shadow: none;
}

#news_chuvaak {
  background: url(../images/news_chuvaak.png) no-repeat 50% 1000px fixed;
  width: 350px;
  height: 1120px;
  position: absolute;
  right: 0;
  top: 0px;
}

#video_chuvaak {
  background: url(../images/video_chuvaak.png) no-repeat 50% 150px fixed;
  width: 350px;
  height: 1120px;
  position: absolute;
  right: 0;
  top: -60px;
}

#albums_chuvaak {
/*  background: url(../images/albums_chuvaak.png) no-repeat 0px -400px;*/
  width: 300px;
  height: 1120px;
  position: absolute;
  right: 0;
  top: -60px;
}

#vespa_lxv {
  background: url(../images/vespa_lxv.png) no-repeat 50% 100px fixed;
  height: 600px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

#flying_vespa {
  z-index: 5;
  position: absolute;
  bottom: -15px;
  width: 100%;
  height: 300px;
  background: url(../images/vespa.png) no-repeat 0 0;
}
#news {
  background-image: url(../images/news_bg.jpg);
}
#albums {
  background-image: url(../images/albums_bg.jpg);
}
#video {
  background-color: #000;
  background-image: url(../images/video_bg.jpg);
}
#about {
  background-image: url(../images/about_bg.jpg);
}

.article {
  width: 560px;
  padding: 10px 20px;
  background: rgba(255,255,255,0.6);
  min-height: 1000px;
}

.article h3 {
  font-size: 36px;
  font-weight: 300;
  margin: 10px 0;
  line-height: 1.0;
  font-weight: normal;
  letter-spacing: -0.04em;
}

.article p.date {
  color: #777;
  font-size: 80%;
}

#albums_container {
  width: 560px;
}
.album {
  display: inline-block;
}
.album a {
  text-decoration: none;
  display: inline-block;
  background: #fff;
  margin: 0 0px 10px 0;
  padding: 10px;
  box-shadow: 2px 2px 20px rgba(0,0,0,0.7);
}
.album a:hover {
  background: rgba(255,255,255,0.9);
}
.album_title {
  display: block;
  width: 90px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  padding: 10px 0 0 0;
  font-size: 11px;
}
.album:nth-child(1) { -webkit-transform: rotate(-14deg); }
.album:nth-child(2) { -webkit-transform: rotate(7deg); }
.album:nth-child(3) { -webkit-transform: rotate(-4deg); }
.album:nth-child(4) { -webkit-transform: rotate(2deg); }
.album:nth-child(5) { -webkit-transform: rotate(-14deg); }
.album:nth-child(6) { -webkit-transform: rotate(7deg); }
.album img {
  display: block;
}

#video_container {
  background: rgba(0,0,0,0.6);
  min-height: 1000px;
  width: 570px;
  overflow: hidden;
  padding: 5px;
}
#video_playing {
  padding: 5px;
}
.video {
  float: left;
  width: 104px;
  color: #fff;
  padding: 5px;
  min-height: 170px;
}
.video_title {
  display: block;
  font-size: 11px;
  padding: 0px 5px 3px 5px;
  color: #eee;
  text-transform: uppercase;
  background: rgba(0,0,0,0.6);
}
.video:hover img {
  opacity: 0.6;
}
.video:hover .video_title {
  color: #999;
}
.video img {
  display: block;
  
}
